{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="p-3 shadow" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Task Name">
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px" for="priority"></label>
                    <input type="text" class="form-control" id="priority" name="priority" placeholder="Enter your Priority">
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px" for="date"></label>
                    <input type="date" class="form-control" id="date" name="date" placeholder="Enter Date">
                </div>
                <div style="text-align:center; margin-top:10px">
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Task to be Completed</h4>
            {% for i in task_value %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <form method="post" action="{% url 'todoapp:delete' i.id %}" onsubmit="return myFunction(this)">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form><br>
                    <a href="{% url 'todoapp:update' i.id %}"><button class="btn btn-success">Update</button></a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}